p {
  font-family: Montserrat;
  text-align: center;
  margin: 0;

}

.first-paragraph {
  font-size: 80px;
  font-weight: bold;
  margin-top: 20px;
}

.last-paragraph {
  margin-top: 20px;
  font-size: 35px;
}
.last-span {
  text-decoration: underline;
}